*.iml
.DS_Store
.idea
.classpath
.externalToolBuilders/
.project
.settings
.springBeans
.factorypath
/.tern-project
/bin/
/target
backend/src/main/resources/public/
backend/src/main/resources/static/*
backend/target
frontend/dist/
frontend/node/
frontend/node_modules/
frontend/npm-debug.log
frontend/target
frontend/test-output
frontend/test/e2e/reports
frontend/test/unit/coverage
frontend/yarn-error.log
frontend/yarn.lock
security/target/
selenium-debug.log
node_modules
/npm-debug.log
